html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background: #849d8f;
}

/* Глобальные стили */

.site-wrapper {
  min-width: 1200px;
  min-height: 100px;
  -webkit-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/slider-image-1.png") no-repeat;
}

.site-wrapper::after {
  background-image: url("../img/slider-image-2.png") no-repeat;
}

.main-header,
.main-content,
.page-footer,
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Скрываем плэйсхолдер в фокусе */

:focus::-webkit-input-placeholder {
  color: transparent;
  }

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
}

textarea::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
}

input::-moz-placeholder {
  color: #999999;
  font-size: 14px;
}

textarea::-moz-placeholder {
  color: #999999;
  font-size: 14px;
}

/* Базовые стили для всех кнопок */

.button {
  display: inline-block;
  color: inherit;
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(238,93,62)), to(rgb(236,89,60)));
  background-image: -webkit-linear-gradient( left, rgb(238,93,62) 0%, rgb(236,89,60) 100%);
  background-image: -o-linear-gradient( left, rgb(238,93,62) 0%, rgb(236,89,60) 100%);
  background-image: linear-gradient( 90deg, rgb(238,93,62) 0%, rgb(236,89,60) 100%);
  opacity: 0.988;
  text-decoration: none;
  vertical-align: top;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover {
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(240,121,99)), to(rgb(240,121,99)));
  background-image: -webkit-linear-gradient( left, rgb(240,121,99) 0%, rgb(240,121,99) 100%);
  background-image: -o-linear-gradient( left, rgb(240,121,99) 0%, rgb(240,121,99) 100%);
  background-image: linear-gradient( 90deg, rgb(240,121,99) 0%, rgb(240,121,99) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
          box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.button:active {
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
  background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
          box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
  outline: none;
}

/* Хедер*/

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo {
  margin: 10px 0 0 27px;
}

/* Меню сайта  */

.site-menu {
  width: 500px;
  margin: 24px 182px 0 9px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.site-menu > li {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  vertical-align: top;
}

.site-menu a {
  display: block;
  max-height: 46px;
  max-width: 150px;
  margin-right: -3px;
  padding: 8px 14px 8px 14px;
  color: inherit;
  border-radius: 25px;
  white-space: pre-wrap;
  overflow: hidden;
}

.site-menu a:hover {
  color: #323232;
  background-color: #ffffff;
  text-decoration: none;
}

.site-menu a:active {
  background-color: rgba(248, 247, 244, 0.988);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.site-menu > li:hover .sub-menu {
  display: block;
}

.active-page {
  background: #d07058;
  text-decoration: none;
}

.site-menu .active-page:hover {
  color: inherit;
  background: #d07058;
  text-decoration: none;
}

/* Подменю */

.sub-menu {
  position: absolute;
  top: 39px;
  left: -6px;
  z-index: 500;
  display: none;
  width: 143px;
  margin: 0;
  padding: 0;
  background: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.sub-menu li {
  display: block;
}

.sub-menu li:last-child {
  margin-bottom: 4px;
}

.sub-menu a {
  margin: 0;
  padding-left: 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-menu a:hover {
  background: #fbded7;
  border-radius: 0;
}

.sub-menu a:active {
  background: #f6b5a5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sub-menu .sub-header {
  padding: 10px 0  11px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}

.sub-menu .current {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 0;
}

.sub-menu .current:hover {
  color: #ffffff;
  border-radius: 0;
  background-color: #d07058;
}

/* Блок пользователя */

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  list-style: none;
}

.user-block li {
  position: relative;
  margin-right: 3px;
  padding-bottom: 5px;
}

.user-block li:hover .search-form,
.user-block li:hover .login-form,
.user-block li:hover .modal-basket {
  display: block;
}

.search-link {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2) url("../img/loupe.svg") no-repeat 8px 7px;
  border-radius: 50%;
}

.search-link:hover {
  background: #ffffff url("../img/loupe-hover.svg") no-repeat 8px 7px;
  cursor: pointer;
}

.login-link {
  display: block;
  width: 67px;
  height: 22px;
  margin-right: 5px;
  padding: 8px 0 1px 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: inherit;
  background: rgba(255, 255, 255, 0.2) url("../img/entrance.svg") no-repeat 14px 6px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}

.login-link:hover {
  background: #ffffff url("../img/entrance-hover.svg") no-repeat 14px 7px;
  color: #000000;
  cursor: pointer;
}

.basket-link {
  position: relative;
  display: block;
  width: 110px;
  height: 22px;
  padding: 8px 0 1px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2) url("../img/basket.svg") no-repeat 17px 6px;
  text-decoration: none;
  border-radius: 25px;
}

.basket-link:hover {
  background: #ffffff url("../img/basket-hover.svg") no-repeat 17px 7px;
  color: #000000;
  cursor: pointer;
}

.basket-not-empty {
  width: 90px;
  padding-left: 29px;
  color: #000000;
  background: #ffffff url(../img/basket-red.svg) no-repeat 17px 7px;
}

.basket-not-empty:hover {
  background: #ffffff url("../img/basket-red.svg") no-repeat 17px 7px;
}

 /* Форма поиска */

.search-form {
  position: absolute;
  top: 36px;
  right: 10px;
  z-index: 501;
  display: none;
  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input {
  width: 311px;
  margin: 20px 14px 20px 16px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #e5e5e3;
}

.search-form input:hover {
  padding: 11px;
  border: 2px solid #c7c6c5;
}

.search-form input:focus {
  padding: 11px;
  border: 2px solid #5b9ddf;
  outline: none;
}

.search-form label {
  position: absolute;
  left: 20px;
  top: 6px;
  display: none;
}

.search-form input:focus + label {
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;
}

/* Форма входа */

.login-form {
  position: absolute;
  top: 36px;
  right: 2px;
  z-index: 555;
  display: none;
  background: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input {
  margin: 20px 16px 2px 16px;
  padding: 11px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #e5e5e3;
}

.login-form input:hover {
  border: 2px solid #c7c6c5;
  padding: 10px;
}

.login-form input:focus {
  padding: 10px;
  border: 2px solid #5b9ddf;
  outline: none;
}

.login-form .mail-title {
  position: absolute;
  top: 6px;
  left: 26px;
  display: none;
}

.login-form .pass-title {
  position: absolute;
  top: 68px;
  left: 26px;
  display: none;
}

.login-form input:focus + label {
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;
}

.login-btn {
  margin: 21px 0 21px 20px;
  padding: 10px 24px 10px 24px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 19px;
  outline: none;
  cursor: pointer;
}

.login-password-info {
  display: block;
  float: right;
  margin: 19px 19px 0 0;
}

.login-password-info a:hover {
  color: #e84d37;
}

.login-password-info a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    color: #323232;
}

/* Корзина с товарами */

.modal-basket {
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 555;
  display: none;
  width: 540px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-basket table {
  margin-top: 16px;
  border-collapse: collapse;
}

.modal-basket .item-delete {
  padding-left: 39px;
  background: url("../img/cross-small.svg") no-repeat 20px;
}

.modal-basket td:nth-child(2) {
  width: 230px;
  padding: 10px 10px 10px 48px;
}

.modal-basket td:nth-child(3) {
  width: 123px;
  padding-left: 5px;
}

.orange-jam td:nth-child(2) {
  padding-top: 12px;
  background: url("../img/300-mini.png") no-repeat;
}

.orange-jam td:nth-child(3) {
  padding-top: 7px;
}

.orange-jam td:nth-child(4) {
  padding-top: 6px;
}

.strawberry-chocolate td:nth-child(2) {
  padding-top: 27px;
  background: url("../img/450-mini.png") no-repeat 0;
}

.strawberry-chocolate td:nth-child(3) {
  padding-top: 5px;
}

.strawberry-chocolate td:nth-child(4) {
  padding-top: 5px;
}

.basket-total {
  float: right;
  margin: 23px 14px 0 0;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.basket-total::before {
  position: absolute;
  left: 15px;
  top: 130px;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
  content: "";
}

.order-btn {
  float: right;
  margin: 54px -108px 22px 0;
  padding: 10px 18px 10px 18px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 25px;
  cursor: pointer;
}

.basket-price {
  color: #999999;
}

/* Контактная информация в хедере */

.contact-info {
  float: right;
  margin: -3px 25px 0 0;
}

.contact-info span:first-child {
  margin-left: 14px;
  font-size: 14px;
  line-height: 16px;
}

.contact-info span:last-child {
  font-size: 22px;
  line-height: 27px;
}

/* Промо карточки */

.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 38px 28px 20px 26px;
}

.promo-title {
  margin: 18px 0 14px 18px;
  font-size: 35px;
  line-height: 41px;
}

.promo-card {
  width: 560px;
  border-radius: 20px;
}

.promo-card p {
  margin: 0 16px 0 20px;
  font-size: 18px;
  line-height: 22px;
}

.promo-card__malinka {
  background: #a64864 url("../img/malinka.jpg") no-repeat;
}

.promo-card__chocolate {
  background: #79451e url("../img/chocolate.png") no-repeat;
}

.btn-rawsberry {
  margin: 44px 0 23px 374px;
  padding: 14px 22px 14px 22px;
  font-size: 18px;
  border-radius: 23px;
}

.btn-chocolate {
  margin: 44px 0 0 350px;
  padding: 14px 22px 14px 22px;
  font-size: 18px;
  border-radius: 23px;
}

/* Слайдер */

.slider {
  position: relative;
}

.slider label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 28px;
  z-index: 20;
  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background: #849d8f url("../img/slider-image-1.png") no-repeat top center;
}

#btn-2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/slider-image-2.png") no-repeat top center;
}

#btn-3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/slider-image-3.png") no-repeat top center;
}

.slide-title {
  width: 700px;
  margin: 316px 0 0 249px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-button {
  margin: 28px 0px 0px 460px;;
  padding: 11px 40px 10px 42px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 40px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Товары */

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 34px -16px -44px 12px;
}

.product-card {
  position: relative;
  width: 267px;
  padding: 6px 13px 65px 13px;
}

.product-card:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-card::before {
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  content: '';
  background: url("../img/hit.svg");
}

.product-price {
  position: absolute;
  top: 172px;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-weight {
  margin-left: 36px;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-info {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  text-align: center;
}

.product-info a {
  margin-left: 10px;
  font-weight: 400;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(157, 177, 165, 0.8);
}

.product-wrapper .product-card::after {
  position: absolute;
  top: 222px;
  left: 95px;
  display: block;
  width: 30px;
  height: 35px;
  content: '';
  background: url("../img/ruble.svg") no-repeat;
}

.btn-hover {
  position: absolute;
  z-index: 268;
  display: none;
  margin-left: 35px;
  padding: 10px 15px 10px 15px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 23px;
  text-align: center;
}

.catalog-item .btn-hover {
  bottom: -36px;
}

.product-card:hover .btn-hover {
  display: block;
}

/* Вафелька */

.features {
  margin: 0 27px 41px 27px;
  padding-bottom: 6px;
  border-radius: 16px;
  background: #e7d9bf url("../img/vaflya.png") no-repeat;
}

.features-title {
  display: inline-block;
  margin: 24px 0 0 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  vertical-align: top;
  color: #323232;
}

.features-item {
  position: relative;
  display: inline-block;
  width: 477px;
  padding: 7px 0 0 76px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
  vertical-align: top;
}

.item-creating::before {
  position: absolute;
  left: 19px;
  top: -7px;
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/ice-cream.svg") no-repeat;
  content:"";
}

.item-buying {
  padding-left: 88px;
}

.item-buying::before {
  position: absolute;
  left: 28px;
  top: -7px;
  display: block;
  width: 49px;
  height: 49px;
  content:"";
  background: url("../img/cow.svg") no-repeat;
}

.item-cooking {
  margin-top: -1px;
}

.item-cooking::before {
  position: absolute;
  left: 21px;
  top: -7px;
  display: block;
  width: 49px;
  height: 49px;
  content:"";
  background: url("../img/eco.svg") no-repeat;
}

.item-delivery {
  margin-top: 0;
  padding-left: 88px;
  vertical-align: top;
}

.item-delivery::before {
  position: absolute;
  left: 28px;
  top: -7px;
  display: block;
  width: 49px;
  height: 49px;
  content:"";
  background: url("../img/thermometer.svg") no-repeat;
}

/* Еще промо карточки */

.subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.promo-strawberry {
  margin-left: 11px;
  border-right: 15px;
  background: #ffffff url("../img/strawberry.png") no-repeat;
}

.promo-strawberry b {
  display: inline-block;
  padding: 24px 0 0 21px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
  vertical-align: top;
}

.promo-strawberry a {
  text-decoration: none;
}

.promo-strawberry p {
  width: 290px;
  padding-top: 3px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.promo-strawberry p:hover {
  color: #e84d37;
}

.promo-subscribe {
  position: relative;
  width: 548px;
  max-height: 210px;
  margin-right: 13px;
  background: #f8f7f4;
  border: 5px solid transparent;
  border-radius: 16px;
  -webkit-border-image: url("../img/pochta-border.png") 6;
       -o-border-image: url("../img/pochta-border.png") 6;
          border-image: url("../img/pochta-border.png") 6;
}

.promo-subscribe p {
  margin: 29px 10px 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-form {
  margin: 36px 0 37px 20px;
}

.subscribe-form input {
  width: 343px;
  padding: 8px 8px 8px 12px;
  line-height: 22px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e3;
}

.subscribe-form input:hover {
  padding: 7px 7px 7px 11px;
  border: 2px solid #c7c6c5;
}

.subscribe-form input:focus {
  padding: 7px 7px 7px 11px;
  border: 2px solid #5b9ddf;
  outline: none;
}

.subscribe-form label {
  position: absolute;
  top: 112px;
  left: 34px;
  display: none;
}

.subscribe-form input:focus + label {
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;
}

.subscribe-form .button {
  max-width: 129px;
  max-height: 52px;
  margin-left: 10px;
  padding: 10px 18px 10px 18px;
  font-size: 18px;
  border-radius: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

/* Форма обратной связи */

.modal-feedback {
  position: fixed;
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 557;
  display: none;
  width: 477px;
  height: 418px;
  padding-top: 20px;
  background: #f8f7f4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-feedback b {
  display: block;
  margin: -3px 0 18px 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.modal-feedback form {
  margin-top: 10px;
}

.modal-feedback input {
  width: 251px;
  margin: 0 0 18px 24px;
  padding: 14px 0 11px 14px;
  border-radius: 5px;
  border: 1px solid #e5e5e3;
}

.modal-feedback input::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.modal-feedback textarea::-webkit-input-placeholder {
  color: #999999;
  font-size: 16px;
}

.modal-feedback input::-moz-placeholder {
  color: #999999;
  font-size: 16px;
}

.modal-feedback textarea::-moz-placeholder {
  color: #999999;
  font-size: 16px;
}


.modal-feedback :focus::-webkit-input-placeholder {   /*Скрываем плэйсхолдер в фокусе */
  color: transparent;
  }

.modal-feedback :focus::-moz-placeholder {
  color: transparent;
}

.modal-feedback :focus:-moz-placeholder {
  color: transparent;
}

.modal-feedback :focus:-ms-input-placeholder {
  color: transparent;
}

.modal-feedback input:hover {
  -webkit-box-shadow: 0 0 0 2px #c7c6c5;
          box-shadow: 0 0 0 2px #c7c6c5;
}

.modal-feedback input:focus {
  -webkit-box-shadow: 0 0 0 2px #5b9ddf;
          box-shadow: 0 0 0 2px #5b9ddf;
  outline: none;
}

.modal-feedback label {
  position: absolute;
  display: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.modal-feedback input:focus + label {
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;
}

.modal-mail {
  position: absolute;
  top: 110px;
  left: 36px;
  display: none;
}

.user-name {
  position: absolute;
  top: 47px;
  left: 36px;
  display: none;
}

.modal-feedback textarea {
  margin: 0 0 20px 24px;
  padding: 10px 4px 0 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #e5e5e3;
}

.modal-feedback textarea:hover {
  -webkit-box-shadow: 0 0 0 2px #c7c6c5;
          box-shadow: 0 0 0 2px #c7c6c5;
}

.modal-feedback textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #5b9ddf;
          box-shadow: 0 0 0 2px #5b9ddf;
  outline: none;
}

.modal-feedback textarea:focus + label {
  top: 173px;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #5b9ddf;
}

.user-feedback {
  position:absolute;
  top: 184px;
  left: 36px;
  display: none;
}

.modal-feedback-btn {
  margin: 1px 27px 0 0;
  padding: 10px 24px 10px 24px;
  float: right;
  font-size: 18px;
  line-height: 24px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

.modal-close {
  position: absolute;
  right: 17px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;

}

.modal-close::before {
  position: absolute;
  top: -4px;
  right: 0;
  width: 18px;
  height: 17px;
  content: "";
  background: url(../img/cross-big.svg) no-repeat;
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

/* Анимация */

@-webkit-keyframes bounce {
  0%   {-webkit-transform: translateY(-2000px);transform: translateY(-2000px); }
  70%  {-webkit-transform: translateY(30px);transform: translateY(30px);    }
  90%  {-webkit-transform: translateY(-10px);transform: translateY(-10px);   }
  100% {-webkit-transform: translateY(0);transform: translateY(0);       }
}

@keyframes bounce {
  0%   {-webkit-transform: translateY(-2000px);transform: translateY(-2000px); }
  70%  {-webkit-transform: translateY(30px);transform: translateY(30px);    }
  90%  {-webkit-transform: translateY(-10px);transform: translateY(-10px);   }
  100% {-webkit-transform: translateY(0);transform: translateY(0);       }
}

@-webkit-keyframes shake {
  0%, 100%                {-webkit-transform: translateX(0);transform: translateX(0);      }
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);  }
  20%, 40%, 60%, 80%      {-webkit-transform: translateX(10px);transform: translateX(10px);   }
}

@keyframes shake {
  0%, 100%                {-webkit-transform: translateX(0);transform: translateX(0);      }
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);  }
  20%, 40%, 60%, 80%      {-webkit-transform: translateX(10px);transform: translateX(10px);   }
}

/* Черный фон при открытии модального окна обратной связи  */

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 556;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-overlay-show {
  display: block;
}

/* Карта */

.map-wrapper {
  position: relative;
}

.site-map {
  height: 430px;
  width: 100%;
  margin-top: 40px;
  background: url("../img/shadow.png") no-repeat 305px 170px,
              url("../img/pin.svg") no-repeat 267px 137px,
              url("../img/map.jpg");
}

.adress {
  position: absolute;
  right: 0;
  z-index: 20;
  float: right;
  width: 275px;
  padding-bottom: 30px;
  margin: 61px 29px 0 0;
  padding-left: 25px;
  color: #323232;
  background: #fefefe;
  border-radius: 16px;
}

.adress p {
  margin-top: 31px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.adress b {
  font-size: 18px;
  line-height: 24px;
}

.adress .map-adress {
  display: inline-block;
  max-height: 70px;
  margin-bottom: 19px;
  vertical-align: top;
  overflow: hidden;
}

.feedback-btn {
  margin: 10px 0 0 2px;
  padding: 10px 26px 10px 26px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 22px;
}

/* Футер */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  border-top: 1px solid #a9bbb1;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-btn {
  height: 32px;
  width: 32px;
  margin: 35px 10px 0 0;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.footer-social .social-btn-tw {
  background: url("../img/twitter.svg");
}

.footer-social .social-btn-tw:hover {
  border-color: #dae2de;
  background: url("../img/twitter-hover.svg");
}

.footer-social .social-btn-tw:active {
  background: url("../img/twitter-active.svg");
}

.footer-social .social-btn-insta {
  background: url("../img/instagram.svg")
}

.footer-social .social-btn-insta:hover {
  background: url("../img/insta-hover.svg");
  border-color: #dae2de;
}

.footer-social .social-btn-insta:active {
  background: url("../img/insta-active.svg");
}

.footer-social .social-btn-fb {
  background: url("../img/fb.svg")
}

.footer-social .social-btn-fb:hover {
  background: url("../img/fb-hover.svg");
  border-color: #dae2de;
}

.footer-social .social-btn-fb:active {
  background: url("../img/fb-active.svg");
}

.footer-social .social-btn-vk {
  background: url("../img/vk.svg")

}

.footer-social .social-btn-vk:hover {
  background: url("../img/vk-hover.svg");
  border-color: #dae2de;
}

.footer-social .social-btn-vk:active {
  background: url("../img/vk-active.svg");
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-right: -37px;
}

.footer-nav ul {
  list-style: none;
  margin-top: 35px;
}

.footer-nav a {
  font-size: 13px;
  font-weight: 100;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255, 0.2);

}

.footer-nav a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.footer-nav .bold {
  position: relative;
  font-weight: 700;
}

.footer-nav .bold::before {
  position: absolute;
  top: 0;
  left: -20px;
  display: block;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat;
  content: '';
}

.footer-authors {
  text-align: center;
  padding-right: 30px;
  padding-top: 18px;
  width: 260px;
}

.footer-authors p {
  margin: 0 0 0 70px;
  font-size: 12px;
  font-weight: 100;
  line-height: 18px;
}

.footer-authors .logo-link {
  border: none;
}

.footer-authors .logo-link:hover {
  border: none;
}

.footer-authors a {
  color: #ffffff;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
  text-decoration: none;
}

.footer-authors a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

/* Разметка страницы контента */

.breadcrumbs {
  margin: 22px 0 0 28px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: inherit;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs .breadcrumbs-current:hover {
  color: #ffffff;
}

.content-title {
  margin: 4px 0 19px 26px;
  font-size: 35px;
  line-height: 41px;
}

.sorting {
  margin-bottom: 32px;
}

.sorting-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.sorting-select {
  position: relative;
  z-index: 1;
  width: 200px;
  margin-left: 29px;
  padding-top: 3px;
}

.sorting-select label {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.sorting-select select {
  width: 193px;
  margin-top: 8px;
  padding: 8px 40px 8px 14px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background: rgba(248, 247, 244, 0.2) url("../img/select-arrow.svg") no-repeat 164px 9px;
  border-radius: 25px;
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
     text-overflow: '';
  /* for IE */
  -ms-appearance: none;
}

@-moz-document url-prefix()
{
  .sorting-select select {
    border: none;
  }
}

_:-ms-fullscreen, :root .sorting-select select {
    border: none;
}

.sorting-select select::-ms-expand {
  display: none;
}

.sorting-select select:hover {
  color: #000000;
  background: #ffffff url("../img/select-black.svg") no-repeat 164px 9px;
}

.sorting-select select:hover  option {
  color: #000000;
}

.sorting-select option {
  color: #000000;
}

.sorting-select select:focus {
  outline: none;
  border-radius: 25px;
}

.sorting-range {
  padding-top: 3px;
  width: 230px;
}

.sorting-range input {
  padding: 8px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
}

.sorting-range b {
  margin-left: 23px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: inherit;
}

.min-toogle, .max-toogle {
  position: absolute;
  top: 8px;
  left: 36px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
          box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
}

.min-toogle:hover, .max-toogle:hover {
  width: 5px;
  height: 5px;
}

.max-toogle {
  left: 134px;
}

.range-line::after {
  position: absolute;
  height: 4px;
  width: 175px;
  margin-top: 16px;
  content: '';
  background: #d7dcde;
}

.range-wrapper {
  position: relative;
  height: 36px;
  width: 178px;
  margin: 8px 0 0 5px;
  padding: 0 20px;
  border-radius: 25px;
  background-color: rgba(255,255,255, 0.2);
}

.range-line::before {
  position: absolute;
  top: 16px;
  left: 48px;
  z-index: 1;
  display: block;
  height: 4px;
  width: 40%;
  content: '';
  background: #f8f7f4;
}

.sorting-fat {
  width: 423px;
}

.sorting-fat .control {
  margin-left: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-fat strong {
  display: inline-block;
  margin: 5px 0 11px 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  vertical-align: top;
}

.radio input {
  display: none;
}

.radio input + .control-indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 1px;
  vertical-align: middle;
}

.radio input:checked + .control-indicator {
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg") no-repeat 0 1px;
}

.fat-wrapper {
  height: 26px;
  margin: -3px 0 0 9px;
  padding: 5px 0 5px 0;
  background: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
}

.radio .control-indicator:hover {
  background: url("../img/radio-off-hover.svg") no-repeat 0 1px;
}

.move-right {
  margin-right: 4px;
}

.sorting-fill {
  min-width: 700px;
  margin: -11px 0 0 27px;
}

.sorting-fill strong {
  display: block;
  margin: 26px 0 15px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.specials input {
  display: none;
}

.specials input + .control-indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 19px;
  background: url("../img/checkbox-off.svg") no-repeat;
  vertical-align: text-top;
}

.specials {
  font-weight: 400;
}

.specials input:checked + .control-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
  width: 25px;
  height: 25px;
}

.specials .control-indicator:hover {
  background: url("../img/checkbox-off-hover.svg") no-repeat;
}

.fill-wrapper {
  height: 25px;
  margin: -9px 0 5px 0;
  padding: 8px 0 4px 0;
  background: rgba(248, 247, 244, 0.2);
  border-radius: 25px;
}

.sorting-btn {
  margin: 36px 0 7px 17px;
  padding: 6px 26px 6px 29px;
  background: rgba(248, 247, 244, 0.2);
  outline: none;
  border: 2px solid white;
  border-radius: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sorting-btn:hover {
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.sorting-btn:active {
  padding: 8px 29px 8px 29px;
  color: #000000;
  border: none;
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.75);
          box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin: 0 0 22px 26px;
  text-align: center;
}

.catalog-item:hover::before{
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  width: 292px;
  min-height: 115%;
  z-index: 256;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item::after {
  position: absolute;
  top: 216px;
  left: 82px;
  display: block;
  width: 30px;
  height: 35px;
  content: '';
  background: url(../img/ruble.svg) no-repeat;
}

.catalog-item .product-price {
  top: 166px;
}

.catalog-item:hover .btn-hover {
  display: block;
}

.pagination-list {
  margin: 40px 15px 28px 0;
  list-style: none;
  text-align: right;
}

.pagination-list li {
  display: inline-block;
  vertical-align: top;
}

.pagination-list a {
  display: block;
  width: 17px;
  height: 17px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;

}

.pagination-list a:hover {
  background: rgba(255,255,255, 0.2);
}

.pagination-list a:active {
  background: #ffffff;
  color: #000000;
}

.pagination-list .pagination-item-current {
  background: #ffffff;
  color: #000000;
}

.page-down {
  width: 18px;
  height: 18px;
  background: url("../img/icon-right-small.svg") no-repeat 6px 6px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination-list .page-down:hover{
  background: url("../img/icon-right-small.svg") no-repeat 6px 6px;
}

.pagination-list .page-up:hover {
  background: url("../img/icon-right-white.svg") no-repeat 6px 8px;
}

.page-up {
  width: 18px;
  height: 18px;
  background: url("../img/icon-right-white.svg") no-repeat 6px 8px;
}
